# This is a basic workflow to help you get started with Actions

name: Linux

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    # install SDL
    - name: install SDL
      run: |
        sudo apt-get --yes update
        sudo apt-get --yes upgrade
        sudo apt-get --yes install libsdl2-dev libsdl2-image-dev libsdl2-ttf-dev
    - name: generate CMAKE
      run: |
        cd $GITHUB_WORKSPACE
        mkdir build
        cd build
        mkdir install
        cmake -DCMAKE_INSTALL_PREFIX="$GITHUB_WORKSPACE/build/install" ..
    - name: make
      run: |
        cd $GITHUB_WORKSPACE/build
        make -j2
    - name: install
      run: |
         cd $GITHUB_WORKSPACE/build
         make install
    - uses: actions/upload-artifact@v2
      with:
        name: linux-binaries
        path: $GITHUB_WORKSPACE/build/install/* # or path/to/artifact
